<h1> Post a new blog post here! </h1>

<%= form_for(@post, :html => { :multipart => true } ) do |f| %>

<div>
<%= f.label :title %>
<%= f.text_field :title, :required => true %>
</div>

<div>
<div>
<%= f.label "Body for Posts"%>
</div>
<%= f.text_field :body, :required => true, size: "100x25" %>
</div>

<div>
<%= f.submit "CLICK HERE TO SUBMIT"%>
</div>

<% end %>
